[submodule "dwl"]
	path = dwl
	url = https://github.com/JoaoVLima/dwl
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/JoaoVLima/slstatus
[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru.git
